@{
    ViewBag.Title = "Injection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Injection</a></li>
        <li class="breadcrumb-item active">Index</li>
        <!-- Breadcrumb Menu-->
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                @* Client Side Folder Structure *@
                <div class="col-md-2 mb-4">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Injection</a>
                            <ul>
                                <li>
                                    <a href="#">Injection</a>
                                    <ul>
                                        <li> <a href="#injectionDescription" data-toggle="tab" onclick="activeTabFile('.injectionTab','#injectionDescription','.rootTab','#injectionScenarios')">Nedir ?</a> </li>
                                        <li> <a href="#sqliScenarios" data-toggle="tab" onclick="activeTabFile('.injectionTab','#sqliScenarios','.rootTab','#injectionScenarios')">SQL Injection</a> </li>
                                        @*<li> <a href="#injectionScenario_2" data-toggle="tab" onclick="activeTabFile('.injectionTab','#injectionScenario_2','.rootTab','#injectionScenarios')">Senaryo 2</a> </li>
                                <li> <a href="#injectionScenario_3" data-toggle="tab" onclick="activeTabFile('.injectionTab','#injectionScenario_3','.rootTab','#injectionScenarios')">Senaryo 3</a> </li>*@
                                    </ul>
                                </li>
                                <li><a href="#injectionSource" onclick="activeTabFile('.rootTab','#injectionSource')" data-toggle="tab">Kaynaklar</a> </li>
                                <li><a href="#injectionExample" onclick="activeTabFile('.rootTab','#injectionExample')" data-toggle="tab">Alıştırmalar</a> </li>
                                <li><a href="#injectionFound" onclick="activeTabFile('.rootTab','#injectionFound')" data-toggle="tab">Bulunan Injection</a> </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function activeTabFile(destinationTab, destinationTabContent, parentTab, parentTabContent, grandParent, grandParentContent) {

                            if (parentTab != '' && !$(parentTabContent).hasClass('active')) {
                                // Aktif olan parent tab ve contenti silinir
                                $(parentTab).removeClass('active');
                                $(parentTab + 'Content').removeClass('active');
                                //Aktif olması istenen parent tab ve contenti eklenir
                                $($('li').find('a[href$="' + parentTabContent + '"]')[0]).addClass('active');
                                $(parentTabContent).addClass('active');
                            }

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            //Aktif olması istenen tab ve content aktif edilir
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active');
                            $(destinationTabContent).addClass('active');
                        };
                    </script>
                </div>
                @* Client Side Content *@
                <div class="col-md-10" id="injectionPart">

                    <ul class="nav nav-tabs bg-light" role="tablist">
                        <li class="nav-item"><a class="rootTab nav-link active" data-toggle="tab" href="#injectionScenarios" role="tab" aria-controls="injectionPart">Injection</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#injectionSource" role="tab" aria-controls="source">Kaynaklar</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#injectionExample" role="tab" aria-controls="practice">Alıştırmalar</a></li>
                        <li class="nav-item"><a class="rootTab nav-link" data-toggle="tab" href="#injectionFound" role="tab" aria-controls="found">Bulunan Injection</a></li>
                    </ul>

                    <div class="tab-content" role="tabpanel">
                        <div class="tab-pane rootTabContent active" id="injectionScenarios">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs bg-light" role="tablist">
                                    <li class="nav-item"><a class="injectionTab nav-link active" data-toggle="tab" href="#injectionDescription" role="tab">Nedir ?</a></li>
                                    <li class="nav-item"><a class="injectionTab nav-link" data-toggle="tab" href="#sqliScenarios" role="tab">SQL Injection</a></li>
                                </ul>
                                <div class="tab-content">
                                    @* Injection Description *@
                                    <div class="tab-pane injectionTabContent active" id="injectionDescription">
                                        <p class="mt-2">Injection Türkçe karşılığı olarak enjeksiyon anlamına gelmektedir.</p>
                                        <p class="mt-2">SQL, LDAP, Xpath yada NoSQL gibi sistemlerde genel olarak bulunan bu zafiyetler eski sistemlerde çok karşılaşılmaktadır. </p>
                                        <p class="mt-2">OWASP TOP 10 Listesinde her zaman birinci sırada bulunan bu zafiyet türü çok ciddi boyutlarda sıkıntılar yaratmaktadır.</p>
                                        <p class="mt-2">Veri kayıpları, bozulmaları, silinmeleri ile ciddi boyutlara ulaşan bir zafiyet olarak tanımlanmaktadır.</p>
                                    </div>
                                    @Html.Partial("~/Views/Injection/_SQLInjections.cshtml")
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Injection/_InjectionSourceWebSites.cshtml")
                        @Html.Partial("~/Views/Injection/_InjectionPracticeWebSites.cshtml")
                        @Html.Partial("~/Views/Injection/_FoundInjections.cshtml")
                    </div>
                </div>

                @* Server Side Folder Structure *@
                <div class="col-md-2 mb-4 mt-5">
                    <ul class="file-tree">
                        <li>
                            <a href="#">Server Side Code</a>
                            <ul>
                                <li>
                                    <a href="#">ASP.NET MVC</a>
                                    <ul>
                                        <li>
                                            <a href="#">Controllers</a>
                                            <ul>
                                                <li><a href="#baseController" onclick="serverSideTab('.serverSideTab','#baseController')" data-toggle="tab">BaseController</a> </li>
                                                <li><a href="#injectionController" onclick="serverSideTab('.serverSideTab','#injectionController')" data-toggle="tab">InjectionController</a> </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Models</a>
                                            <ul>
                                                <li><a href="#sqli_s1_loginRequest" onclick="serverSideTab('.serverSideTab','#sqli_s1_loginRequest')" data-toggle="tab">SQLI_S1_LoginRequest</a> </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <script>
                        function serverSideTab(destinationTab, destinationTabContent) {
                            $('#serverSide').css('display', 'block');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');

                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('active d-block');
                            $(destinationTabContent).addClass('active');
                        };
                        function serverSideAllTabClose(destinationTabContent) {
                            $('#serverSide').css('display', 'none');

                            //Aktif olan tab ve content silinir
                            $(destinationTab).removeClass('active');
                            $(destinationTab + 'Content').removeClass('active');
                        };

                        function closeTab(destinationTabContent) {
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).removeClass('active d-block');
                            $($('li').find('a[href$="' + destinationTabContent + '"]')[1]).addClass('d-none');
                        }
                    </script>
                </div>
                @* Server Side Github Gist Content *@
                <div class="col-md-10 mt-5" id="serverSide" style="display:none">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#baseController" role="tab">
                                    BaseController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#baseController')"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#injectionController" role="tab">
                                    InjectionController
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#injectionController')"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="serverSideTab nav-link" data-toggle="tab" href="#sqli_s1_loginRequest" role="tab">
                                    SQLI_S1_LoginRequest
                                    <i class="fa fa-window-close fa-lg" onclick="closeTab('#sqli_s1_loginRequest')"></i>
                                </a>
                            </li>
                            <li class="nav-item pull-right"><button type="button" class="btn btn-dark" onclick="serverSideAllTabClose('.serverSideTab')"> <i class="icon-close"></i></button></li>
                        </ul>
                        <div class="tab-content" role="tabpanel">
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Controller/BaseController.cshtml")
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Controller/InjectionController.cshtml")
                            @Html.Partial("~/Views/ServerSide/ASP.NET_MVC/Models/Injection/SQLInjection/SQLI_S1_LoginRequest.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>