@model DevF_LABS.RequestResponse.XSS.ReflectedXSS.RXSS_S3_UserListResponse
<div class="card">
    <div class="card-header bg-info">
        Kullanıcı Listesi
        @{
            string disabled = "disabled";
            if (Model.UserList != null && Model.LoginUser != null)
            {
                if(Model.LoginUser.UserRole == "Admin") { disabled = ""; }
                <span class="pull-right"> Hoşgeldiniz @Model.LoginUser.UserName  @Model.LoginUser.UserSurname | Rol : @Model.LoginUser.UserRole</span>
            }
        }
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>ID</th>
                <th>İsim - Soyisim</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Tarih</th>
                <th class="text-center" colspan="2">İşlemler</th>
            </tr>
            @if (Model.UserList != null)
            {

                foreach (var user in Model.UserList)
                {
                    <tr>
                        <td>@user.UserID</td>
                        <td>@user.UserName @user.UserSurname</td>
                        <td>@user.Email</td>
                        <td>@user.UserRole</td>
                        <td>@user.CreatedTime</td>
                        <td>
                            @if (user.Email != "admin@devf.com" && user.Email != "demo@devf.com")
                            {
                                <button id="remove_button_user_@user.UserID" type="button" class="btn btn-sm btn-danger" onclick="reflectedXSS_deleteUser(@user.UserID)" @disabled><i class="fa fa-ban"></i>&nbsp;Sil</button>
                            }
                        </td>
                         <td>
                            @if (user.Email != "admin@devf.com" && user.Email != "demo@devf.com")
                            {
                                <button type="button" class="btn btn-sm btn-primary" @disabled><i class="fa fa-user"></i>&nbsp;Admin Yap</button>
                            }
                        </td>
                        
                    </tr>
                }
            }
        </table>
    </div>
</div>